$light-gray: #f8f8f8;
$dark-blue: #28527a;
$blue: #607d8b;
$font-family3: 'Merriweather', serif;


.usersContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: $font-family3;
   // font-size: 12px;
   background-color: $light-gray;
   width: 100vw;
   height: 100vh;
   overflow-y: scroll;
}
.user-button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 8px;
   margin-right: 20px;
   width: 100px;
   height: 26px;
   background-color: white;
   border: 2px $dark-blue solid;
   border-radius: 6px;
   color: $dark-blue;
   // font-size: 12px;
}
.addUserIcon{
   display: flex;
   width: 8px;
   margin-right: 6px;
}
.user-text{
   display: flex;
   font-size: 12px;
}
.user-button:hover{
   display: flex;
   color: black;
   border: 2px black solid;
   background-color: #f7fbfd;
   .addUserIcon{
      color: black;
   }
}
.searchUsers{
   display: flex;
   height: 20px;
   padding-left: 4px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-right: 15px;
   border: 2px  $dark-blue solid;
   border-radius: 6px;
   justify-self: flex-end;
   align-self: center;
}

.userTableContainer{
   display: flex;
   justify-content: center;
   width: 1400px;
   // height: 600px;
   margin: 50px 0 50px 10px;
   overflow-y: scroll;
   overflow-x: scroll;
   font-size: 10pxs;
}

.userHeader{
   display: flex;
   height: 50px;
   width: 90.6vw;
   font-size: 20px;
   color: #1e3a4e;
   font-family: $font-family3;
   align-self: flex-start;
   margin: 25px 0 -10px 30px;
   // flex: 1;
}
.userheaderText{
   display: flex;
   height: 40px;
   margin-left: 46px;
   margin-bottom: 2px;
   font-size: 20px;
   justify-content: flex-start;
   align-self: center;
   flex: 8;
}

.userTable{
   display: flex;
   width: 1000px;
   margin: 10px;
}

.userTableRow:hover{
   background-color: #f9ffff;
}